$MAIN-COLOR-0 : #121212;
$MAIN-COLOR-1 : #000000;
$ACCENT-COLOR-0 : #bb86fc;
$FONT : #ffffff;

@mixin WINDOW {
    border: 2px solid $ACCENT-COLOR-0;
    border-top: 2.5rem solid $ACCENT-COLOR-0;
    background-color: $MAIN-COLOR-1;
    min-height: 10rem;
    position: relative;
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;

    &::before {
        content: attr(data-window);
        position: absolute;
        top: -2.5rem;
        left: 1rem;
        line-height: 2.5rem;
        font-size: 1rem;
        color: $MAIN-COLOR-1;
    }

    [data-form] {
        flex: 1 1 15rem;

        div {
            display: flex;
            flex-direction: column;
            gap: .75rem;
            align-items: center;
    
            span {
                display: grid;
                grid-template-columns: 1fr 1fr;
                width: 8rem;
    
                & > * {
                    width: 100%;
                    overflow: hidden;
                    border-radius: .25rem 0 0 .25rem;
                }

                & > *:nth-child(even) {
                    border-radius: 0 .25rem .25rem 0;
                }
            }
        }
        
    }

    [data-board="stats"] {
        width : 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap : 1rem;
        
        div {
            flex: 1 1 100%;
            position: relative;

            &::before {
                content: attr(data-header);
                font-size: 1.75rem;
                position: absolute;
                color : $ACCENT-COLOR-0;
                left: 50%;
                transform: translateX(-50%);
                top: .25rem;
            }

            & > * {
                text-align: right; 
            }

            &:first-of-type > * {
                text-align: left;
            }

            ul {
                background-color: $MAIN-COLOR-0;
                display: flex;
                flex-direction: column;
                list-style: none;
                gap : .5rem;
                padding: .5rem 0;
                padding-top: 2.5rem;
                
                li { 
                    padding: 0 .5rem;

                    &.increase{
                        color : $ACCENT-COLOR-0;
                    }
                }
            }
        }
    }

    [data-board="effects"] {
        & > div {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            gap : 1rem;
        }

        div > div{
            padding:  1rem 1.5rem;
            position: relative;
            border: .3rem solid $MAIN-COLOR-0;
            border-top: 2rem solid $MAIN-COLOR-0;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: .3rem;

            span {
                display: flex;
                justify-content: center;
                align-items: center;
                * {
                    flex: 1 1 50%;
                }
            }

            &::before {
                content: attr(data-name);
                position: absolute;
                top: -1.5rem;
            }

            p {
                text-align: center;
                word-wrap: break-word;
                max-width: 12rem;
                overflow: hidden;
                font-size: .85rem;
                word-wrap: break-word;
                margin-bottom: .5rem;

                var {
                    color: $ACCENT-COLOR-0;
                }
            }
        }
    }

    [data-board="talents"] {
        width: 100%;

        & > div {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            gap : 1rem;
            width: 100%;
            position: relative;
        }

        div > div {
            display: flex;
            flex-direction: column;
            padding:  1rem 1.5rem;
            flex: 1 0 100%;
            gap : .3rem;
            border-top: 3rem solid $ACCENT-COLOR-0;
            background-color: $MAIN-COLOR-0;
            position: relative;

            &::before {
                content: attr(data-name);
                position: absolute;
                top: -2.25rem;
                font-size: 1.25rem;
                color : $MAIN-COLOR-1
            }

            span#Level {
                display: inline;
                position: absolute;
                top : -3rem;
                right : 0;
                background: transparent;

                label {
                    color : $MAIN-COLOR-1
                }
                input {
                    background-color: $MAIN-COLOR-1;
                }
            }
            
            span {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                background-color: $MAIN-COLOR-1;
                padding: .5rem 1rem;
                
                p {
                    justify-content: center;
                    display: flex;
                    align-items: center;
                }

                p.name {
                    justify-content: start;
                    padding-left: 1.5rem;
                }

                p.crit-or-bonus {
                    color : $ACCENT-COLOR-0
                }

            }
        }
    }
}

select, 
input,
button {
    background-color: $MAIN-COLOR-0;
    padding: .5rem;
    border: none;;
    width: 8rem;
    text-align: center;
}

button.collapse-toggle {
    background-color: transparent;
    position: absolute;
    top: -2.25rem;
    z-index: 20;
    color : $MAIN-COLOR-1;
    font-weight: 900;
    right: -3rem;
}

img {
    background-color: $MAIN-COLOR-0;
    height: 10rem;
    aspect-ratio: 1;
    border-radius: 50%;
}

* {
    padding: 0;
    margin: 0;
    color : $FONT;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: .25rem;
    box-sizing: border-box;
}

body {
    background-color: $MAIN-COLOR-1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    background-color: $MAIN-COLOR-0;
    padding: 1rem 1.5rem;
    position: static;
    width: 100%;
    border-bottom: .35rem solid $MAIN-COLOR-1;

    ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: space-evenly;
        align-items: center;
        gap: 1rem;

        a {
            text-decoration: none;
            transition: color 150ms ease-in;
            font-weight: 900;

            &:active {
                color : $MAIN-COLOR-1;
            }
        }
    }
}

main {
    padding: 1rem 1.5rem;
    width: Min(47.5rem, 100%);
    background-color: $MAIN-COLOR-0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

section {
    @include WINDOW();

    &.closed {
        min-height: 0;
        padding: 0;
        
        *:not(button) {
            display: none;
        }
    }
}